---
---
<nav>
  <ul>
    <li>
      <a href="#">CS Honor Society</a>
    </li>
    <li>
      <a href="#">IDEA + Cybersecurity</a>
    </li>
    <li>
      <a href="#">Web Development</a>
    </li>
    <li>
      <a href="#">Girls Who Code</a>
    </li>
    <li>
      <a href="#">UIL Competitions</a>
    </li>
    <li>
      <a href="#">Tutoring & Volunteering</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin: 5px 0;
    text-align: center;
    width: 80vw;
    border: 1px solid rgba(var(--accent), 0.2);
    background-image: var(--card-gradient);
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  li {
    margin: 0.5rem 1rem;
    font-weight: bold;
    color: #fff;
  }

  a {
    text-decoration: underline dotted;
    color: white;

    transition: color 0.2s ease-in-out;
  }
  a:hover {
    text-decoration: underline;
    color: rgb(var(--accent-light));

    transition: color 0.2s ease-in-out;
  }
</style>